body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup-formcontrol{
  margin-bottom: 10px !important;
}

legend{
  display: none !important;
}